@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-4uqa06');
	src:url('../fonts/icomoon.eot?#iefix-4uqa06') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-4uqa06') format('truetype'),
		url('../fonts/icomoon.woff?-4uqa06') format('woff'),
		url('../fonts/icomoon.svg?-4uqa06#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-caret-left:before {
	content: "\e602";
}
.icon-caret-right:before {
	content: "\e603";
}
.icon-cart:before {
	content: "\e604";
}
.icon-chevron-down:before {
	content: "\e605";
}
.icon-chevron-up:before {
	content: "\e606";
}
.icon-circle:before {
	content: "\e607";
}
.icon-circle-o:before {
	content: "\e608";
}
.icon-click-circle:before {
	content: "\e609";
}
.icon-clip-circle:before {
	content: "\e60a";
}
.icon-cup:before {
	content: "\e60b";
}
.icon-cup-circle:before {
	content: "\e60c";
}
.icon-eye:before {
	content: "\e60d";
}
.icon-eye-circle:before {
	content: "\e60e";
}
.icon-hand-circle:before {
	content: "\e60f";
}
.icon-head:before {
	content: "\e610";
}
.icon-heart-ok-circle:before {
	content: "\e611";
}
.icon-help:before {
	content: "\e612";
}
.icon-lock-circle:before {
	content: "\e613";
}
.icon-menu:before {
	content: "\e614";
}
.icon-minus:before {
	content: "\e615";
}
.icon-paper:before {
	content: "\e616";
}
.icon-phone:before {
	content: "\e617";
}
.icon-plane-circle:before {
	content: "\e618";
}
.icon-plus:before {
	content: "\e619";
}
.icon-register:before {
	content: "\e61a";
}
.icon-search:before {
	content: "\e61b";
}
.icon-search-circle:before {
	content: "\e61c";
}
.icon-share-alt:before {
	content: "\e61d";
}
.icon-shirt:before {
	content: "\e61e";
}
.icon-shirt-circle:before {
	content: "\e61f";
}
.icon-skirt:before {
	content: "\e620";
}
.icon-skirt-circle:before {
	content: "\e621";
}
.icon-star:before {
	content: "\e622";
}
.icon-star-solid:before {
	content: "\e623";
}
.icon-user:before {
	content: "\e624";
}
.icon-user-circle:before {
	content: "\e625";
}
.icon-vest:before {
	content: "\e626";
}
.icon-vest-circle:before {
	content: "\e627";
}
